<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Password Prompt Page
-->

{% set template_body_classes = "system-page system-page--password" %}

{% extends '../../partials/base.html' %}

{% block body %}
  <div class="system-page-content">
    <h1>Password Required</h1>
    <p>Please enter the password required to view this page.</p>

    {% module 'password_prompt'
      extra_classes='password-prompt',
      path='@hubspot/password_prompt'
    %}
  </div>
{% endblock body %}
